.App {
  text-align: center;
}

.App-header {
  background: url('../src/images/images-header-background.jpg');
  background-size: cover;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

body {
  background-color: #282c34;
}
