*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

.App {
  text-align: center;
}

body {
  background-color: #fafafa;
  padding-top: 96px;
}

.Loader {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
